<div style="padding-bottom: 8px; margin-bottom: 1em; border-bottom: 1px solid black">
  <a routerLink="simple" routerLinkActive="active">First</a> |
  <a routerLink="dynamic-import-component" routerLinkActive="active">Dynamic import component</a> |
  <a routerLink="dynamic-import-module-auto-select-component" routerLinkActive="active"
    >Dynamic import module auto select component</a
  >
  |
  <a routerLink="dynamic-import-module-manual-select-component" routerLinkActive="active"
    >Dynamic import module manual select component</a
  >
  | <a routerLink="dynamic-import-inputs" routerLinkActive="active">Dynamic import inputs</a> |
  <a routerLink="dynamic-import-outputs" routerLinkActive="active">Dynamic import outputs</a> |
  <a routerLink="dynamic-import-to-many-loader-in-one-component" routerLinkActive="active"
    >Dynamic import to many loader in one component</a
  >
</div>
<router-outlet></router-outlet>
